:host {
  display: block;
}

:host(.is-group) .collapsible-header {
  padding: calc(var(--s) / 2) var(--s);
}

.collapsible-header {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;

  &:focus-visible {
    outline: var(--focus-ring-width) solid var(--focus-ring-color);
    outline-offset: var(--focus-ring-offset);
  }

  :host.isInline & {
    display: inline-block;

    & > * {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.collapsible-title {
  flex-grow: 1;

  &.is-drag-handle {
    cursor: move;
  }

  :host.isInline & {
    //display: inline-block;
  }
}

.collapsible-expand-icon {
  margin-right: var(--s);
  transition: all var(--transition-standard);

  :host.isExpanded & {
    transform: rotate(180deg);
  }
}

.collapsible-panel {
  height: auto;
  display: block;

  // make sure we don't produce clunky animations
  padding: 0 !important;
  margin: 0 !important;
}
