@use '../../../../styles/_globals.scss' as *;
@use './task.component.mixins' as *;
@use './task-base';
@use './task-controls';

:host.isDragReady:not(.cdk-drag-placeholder) {
  background: var(--bg-lighter);
  box-shadow: var(--whiteframe-shadow-8dp);
  transition:
    background var(--transition-duration-s) ease-out,
    box-shadow var(--transition-duration-s) ease-out;

  .box {
    box-shadow: none;
  }
}
