@if (IS_TOUCH_PRIMARY && isPanHelperVisible()) {
  <div
    #blockLeftEl
    class="block-left bg-400"
  >
    @if (isDone()) {
      <mat-icon>undo</mat-icon>
    } @else {
      <mat-icon>check</mat-icon>
    }
  </div>
  <div
    #blockRightEl
    class="block-right bg-400"
  >
    <mat-icon>more_horiz</mat-icon>
  </div>
}

<div
  #innerWrapperEl
  panGesture
  (panstart)="onPanStart($event)"
  (panleft)="handlePan($event)"
  (panright)="handlePan($event)"
  (panend)="onPanEnd()"
  (pancancel)="onPanCancel()"
  [class.isPreventPointerEventsWhilePanning]="isPreventPointerEventsWhilePanning()"
  class="inner-wrapper"
>
  <ng-content></ng-content>
</div>
