@use '../../../../../styles/_globals.scss' as *;

h1,
mat-dialog-actions {
  :host-context([dir='rtl']) & {
    direction: rtl;
  }
}

.custom-icon-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form-wrapper {
  display: flex;
  flex-direction: column;

  @include mq(xs) {
    min-width: 500px;
  }
}
