.tag-ico {
  margin-right: 4px !important;
}

.tag-ico-emoji {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 4px !important;
  overflow: hidden;
  flex-shrink: 0;
}
