<ng-content></ng-content>

<div class="drag-handle">
  <mat-icon class="drag-handle-ico">drag_indicator</mat-icon>
  @if (isCurrent) {
    <mat-icon class="play-icon-indicator">play_arrow </mat-icon>
  }
</div>

<div
  class="no-drag"
  (longPressIOS)="openContextMenu($event)"
  (touchstart)="onTouchStart($event)"
>
  <div class="wrap">
    @if (parentTitle) {
      <div class="parent-title">{{ parentTitle }}</div>
    }

    <div class="title">{{ task.title }}</div>

    <tag-list
      [isShowProjectTagAlways]="true"
      [tagsToHide]="tagsToHide()"
      [task]="task"
    ></tag-list>
  </div>

  <ng-content></ng-content>

  <div
    (click)="estimateTimeClick($event)"
    [class.hasNoTimeSpentOrEstimate]="!task.timeSpent && !task.timeEstimate"
    [style.pointer-events]="task.subTaskIds?.length && 'none'"
    class="planner-time-remaining-shared"
  >
    @if (task.subTaskIds?.length) {
      <mat-icon inline="true">hourglass_empty</mat-icon>
    }

    <inline-input
      (changed)="updateTimeEstimate($event)"
      [displayValue]="timeEstimate | msToString"
      [type]="'duration'"
      [value]="timeEstimate"
    >
    </inline-input>
  </div>
</div>

@if (isContextMenuLoaded()) {
  <task-context-menu
    #taskContextMenu
    [task]="task"
  ></task-context-menu>
}
