<h1 mat-dialog-title>
  <mat-icon aria-hidden="true">warning</mat-icon>
  {{ T.F.SYNC.D_SERVER_MIGRATION_CONFIRM.TITLE | translate }}
</h1>

<mat-dialog-content>
  <p [innerHTML]="T.F.SYNC.D_SERVER_MIGRATION_CONFIRM.MESSAGE | translate"></p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    (click)="close(false)"
    mat-button
  >
    {{ T.F.SYNC.D_SERVER_MIGRATION_CONFIRM.SKIP | translate }}
  </button>
  <button
    (click)="close(true)"
    color="warn"
    mat-stroked-button
  >
    <mat-icon aria-hidden="true">warning</mat-icon>
    {{ T.F.SYNC.D_SERVER_MIGRATION_CONFIRM.CONFIRM | translate }}
  </button>
</mat-dialog-actions>
