<!--  <div class="title">February 2019 Week 6</div>-->

<div class="schedule-nav-controls">
  <button
    mat-icon-button
    (click)="goToPreviousPeriod()"
    [disabled]="isViewingToday()"
    [attr.aria-label]="isMonthView() ? 'Go to previous month' : 'Go to previous week'"
    [matTooltip]="isMonthView() ? 'Previous Month' : 'Previous Week'"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>

  <button
    mat-button
    (click)="goToToday()"
    [disabled]="isViewingToday()"
    aria-label="Go to today"
  >
    {{ T.F.SCHEDULE.NOW | translate }}
  </button>

  <button
    mat-icon-button
    (click)="goToNextPeriod()"
    [attr.aria-label]="isMonthView() ? 'Go to next month' : 'Go to next week'"
    [matTooltip]="isMonthView() ? 'Next Month' : 'Next Week'"
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>

<div class="scroll-wrapper">
  @if (isMonthView()) {
    <schedule-month
      [events]="events()"
      [daysToShow]="daysToShow()"
      [weeksToShow]="weeksToShow()"
      [firstDayOfWeek]="firstDayOfWeek"
    ></schedule-month>
  } @else {
    <schedule-week
      [events]="events()"
      [beyondBudget]="beyondBudget()"
      [daysToShow]="daysToShow()"
      [workStartEnd]="workStartEnd() || null"
      [currentTimeRow]="currentTimeRow()"
      [todayDateStr]="_todayDateStr()"
    ></schedule-week>
  }
</div>
