.content {
  max-width: 400px;

  p {
    line-height: 1.5;
    margin-bottom: 16px;
  }

  .force-overwrite-note {
    margin-top: 12px;
    color: var(--c-dark-60);
    font-size: 13px;
  }
}

:host mat-form-field {
  width: 100%;
  margin-bottom: 0;
}

h1 mat-icon {
  vertical-align: middle;
  margin-right: 8px;
}
