name: 'Close stale issues and PRs'
on:
  schedule:
    - cron: '30 1 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@b5d41d4e1d5dceea10e7104786b73624c18a190f # v10
        with:
          days-before-stale: 180
          days-before-close: 14
          stale-issue-message: 'This issue has not received any updates in 180 days. Please comment, if this still relevant!'
          stale-pr-message: 'This PR has not received any updates in 180 days. Please comment, if this still relevant!'
          days-before-pr-close: -1
